nepsenewswriter.json
{
  "name": "Nepse Daily AI News",
  "nodes": [
    {
      "parameters": {
        "cronExpression": "0 8 * * *"
      },
      "id": "1",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [50, 300]
    },
    {
      "parameters": {
        "httpRequestMethod": "GET",
        "url": "https://gnews.io/api/v4/top-headlines",
        "responseFormat": "json",
        "queryParametersUi": {
          "parameter": [
            { "name": "category", "value": "business" },
            { "name": "lang", "value": "en" },
            { "name": "max", "value": "5" },
            { "name": "apikey", "value": "={{$credentials.gnewsApi}}" }
          ]
        }
      },
      "id": "2",
      "name": "Fetch Nepse News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "httpBasicAuth": "GNews API Key"
      }
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4o-mini",
        "messages": [
          {
            "role": "system",
            "content": "You are a bold, confident, opinionated financial news writer for the Nepalese stock market (NEPSE). Avoid jokes, keep tone professional but impactful."
          },
          {
            "role": "user",
            "content": "Rewrite the following NEPSE-related headlines into a compelling article with a strong headline and short intro:\n\n={{JSON.stringify($json[\"articles\"])}}"
          }
        ]
      },
      "id": "3",
      "name": "AI Rewrite",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "openAiApi": "OpenAI API"
      }
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { text: $json.choices[0].message.content } }];"
      },
      "id": "4",
      "name": "Prepare Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [[{ "node": "Fetch Nepse News", "type": "main", "index": 0 }]]
    },
    "Fetch Nepse News": {
      "main": [[{ "node": "AI Rewrite", "type": "main", "index": 0 }]]
    },
    "AI Rewrite": {
      "main": [[{ "node": "Prepare Output", "type": "main", "index": 0 }]]
    }
  }
}
