nepsenewswriter.json
{
  "name": "Tech News AI Writer (Clean, No Credentials)",
  "nodes": [
    {
      "parameters": {
        "cronExpression": "0 8 * * *"
      },
      "id": "1",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [50, 300]
    },
    {
      "parameters": {
        "httpRequestMethod": "GET",
        "url": "https://gnews.io/api/v4/top-headlines",
        "responseFormat": "json",
        "queryParametersUi": {
          "parameter": [
            { "name": "category", "value": "technology" },
            { "name": "lang", "value": "en" },
            { "name": "max", "value": "5" },
            { "name": "apikey", "value": "6d23fb2bc84287878286a33984bc84b3" }
          ]
        }
      },
      "id": "2",
      "name": "Fetch Tech News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4o-mini",
        "messages": [
          {
            "role": "system",
            "content": "You are a bold, confident, opinionated tech news writer for a high-authority insider publication. Avoid jokes or casual questions. Write in strong, structured paragraphs with impactful summaries."
          },
          {
            "role": "user",
            "content": "Rewrite the following tech news into a compelling, opinionated article with a strong headline:\n\n={{JSON.stringify($json[\"articles\"])}}"
          }
        ]
      },
      "id": "3",
      "name": "AI Rewrite",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { article: $json } }];"
      },
      "id": "4",
      "name": "Prepare Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          { "node": "Fetch Tech News", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Tech News": {
      "main": [
        [
          { "node": "AI Rewrite", "type": "main", "index": 0 }
        ]
      ]
    },
    "AI Rewrite": {
      "main": [
        [
          { "node": "Prepare Output", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}
